#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    height: 100vh;
}

.countries {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

select {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    display: inline-block;
}

.flag {
    width: 100%;
}

h1 {
    width: 44rem;
    color: cyan;
    margin-top: -6rem;
}

h2 {
    font-size: 3rem;
    width: 50;
    color: magenta;
}

h3 {
    color: yellow;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: -2rem;
}

.select {
    color: yellow;
    border: 1px solid magenta;
}

.flag {
    border: 1px solid; 
    border-image: linear-gradient(to right, #00ffff, #ff00ff, #ffff00, #00ffff) 1;
}